@font-face {
    font-family: 'NotoSans';
    src: url(assets/fonts/NotoSans-VariableFont_wdth,wght.ttf);
}

:root {
    /* Neutral */
    --Neutral-900: hsl(227, 75%, 14%);
    --Neutral-800: hsl(226, 25%, 17%);
    --Neutral-700: hsl(225, 23%, 24%);
    --Neutral-600: hsl(226, 11%, 37%);
    --Neutral-300: hsl(0, 0%, 78%);
    --Neutral-200: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --Neutral-0: hsl(200, 60%, 99%);
    /* Red */
    --Red-400: hsl(3, 86%, 64%);
    --Red-500: hsl(3, 71%, 56%);
    --Red-700: hsl(3, 77%, 44%);
    /* Gradient */
    --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.darkmode {
    --Neutral-900: hsl(227, 75%, 14%);
    --Neutral-0: hsl(226, 25%, 17%);
    --Neutral-700: hsl(225, 23%, 24%);
    --Neutral-600: hsl(226, 11%, 37%);
    --Neutral-300: hsl(0, 0%, 78%);
    --Neutral-200: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --Neutral-800: hsl(200, 60%, 99%);

    --Light-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);


    color: white;
}

.darkmode > body > .app-container > .extension-list > .filter-btn-container > .filter-btn,
.darkmode > body > .app-container > .extensions > .extension-container > .extension-item > .extension-btn-container > .remove-btn {
    color: white;
}


* {
    box-sizing: border-box;
    font-family: 'NotoSans';
}

html {
    background: var(--Light-Gradient) no-repeat center center fixed;
    background-size: cover;
}

html, body {
    height: 100%;
}

@media(min-width: 375px) {
    body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
}

@media(min-width: 870px) {
    .app-container {
        width: 80%;
    }
}

header > div {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--Neutral-0);
    border-radius: 10px;
    padding: 5px 10px;
}

header > div > img {
    height: 2rem;
}


.theme-toggle {
    background-color: var(--Neutral-0);
    border: 1px solid var(--Neutral-300);
    border-radius: 10px;
    height: 2rem;
    width: 2rem;
    margin-right: 5px;

}

.theme-toggle:hover {
    border-color: var(--Red-700);
}

.extension-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.filter-btn {
    border: 2px solid var(--Neutral-300);
    background-color: var(--Neutral-0);
    border-radius: 30px;
    width: 6rem;
    height: 2rem;
    text-align: center;
}

.filter-btn:hover {
    border-color: var(--Red-700);
}

.highlight {
    background-color: var(--Red-500);
}

@media(min-width: 870px) {
    .extension-list {
        flex-direction: row;
        justify-content: space-between;
    }
}

.extension-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}

@media(min-width: 870px) {
    .extension-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1270px) {
    .extension-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.extension-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Neutral-0);
    padding: 1rem;
    border: 1px solid var(--Neutral-300);
    border-radius: 30px;
    gap: 10px;
    min-height: 14rem;
}

.extension-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.extension-info > img {
    margin-top: 7px;
}

.extension-info-text {
    display: flex;
    flex-direction: column;

}


.extension-info-text > h1,
.extension-info-text > p {
    margin: 0;
}

.extension-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    background-color: var(--Neutral-0);
    border: 1px solid var(--Neutral-300);
    border-radius: 30px;
    padding: 10px;
}

.remove-btn:hover {
    border-color: var(--Red-700)
}

.activate-toggle {
    background-color: var(--Neutral-300);
    width: 50px;
    height: 25px;
    border-radius: 30px;
    border: none;
}


.circle {
    height: 100%;
    width: 25px;
    border-radius: 100%;
    background-color: white;
    position: relative;
    left: 0px;
}

.active {
    background-color: var(--Red-400);
}

.active > .circle {
    left: calc(100% - 25px);
}