@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	position: relative;
}

body::after{
	content: "";
	width: 50%;
	height: 61vh;
	background-color:  hsl(207, 33%, 95%);
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	border-bottom-left-radius: 4rem;
}


h1,h2,h3,a,button{
	font-family: 'Barlow Condensed', sans-serif;
}
.container{
	max-width: 100%;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
.logo-nav{
	order: -2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.global-padding{
	padding: 2rem 1.5rem;
}
.logo, .hamburger{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img, .hamburger img{
	display: block;
	width: 20px;
}
.
.link-logo{}
.hamburger{
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	transition: transform 0.4s ease;
}
.isActive{
	transform: rotate(180deg);
}

.hamburger-close{}
.nav-links{

    padding: 1.5rem 2rem;
    width: 345px;
    max-width: 88%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    margin: auto;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    transition: top 0.5s ease-in-out;



}
.display-none{
	top: -400px;
}

.nav-links a{
	text-decoration: none;
	text-transform: uppercase;
	color: hsl(230, 29%, 20%);
	font-weight: 600;
	margin-bottom: 2rem;
	width: 100%;
	text-align: center;
	display: block;
	letter-spacing: 1px;
}

.nav-links a:hover{
	text-decoration: underline;
}
.dot{display: none;}


#login::before{
	content: "";
	display: block;
	border-top: 1px solid  hsl(231, 7%, 65%);
	margin-bottom: 1rem;

}

#login{margin-bottom: 0; color:  hsl(231, 7%, 65%);}

.content{
	margin-top: 5rem;
}
.new-dash{
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	gap: 1rem;
}
.global-padding{}
.new{
	padding: 0.2rem 0.8rem;
	border-radius: 0.8rem;
	text-transform: uppercase;
	background-color: hsl(230, 29%, 20%) ;
	color: white;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1rem;

}
.dash{
	text-transform: uppercase;
	font-family: 'Barlow Condensed', sans-serif;
	letter-spacing: 3px;
	color: hsl(230, 11%, 40%);
	font-size: 0.85rem;

}
.hero{
	margin-top: 1rem;
	padding-top: 0;
	padding-bottom: 0;
}
.hero-text{
	font-size: 2.3rem;
	text-transform: uppercase;
	line-height: 1;
	color: hsl(230, 29%, 20%);
	margin-bottom: 1rem;
}
.hero p{
	color:hsl(230, 11%, 40%) ;
	font-size: 1.125rem;
	font-weight: 300;
	padding-right: 3rem;

}
.demo-preview{
	margin-top: 2rem;
	padding-bottom: 0;
	padding-top: 0;
	display: flex;
	align-items: center;
	gap: 1rem;
}
.btn-demo{
	padding: 0.6rem 1.3rem;
	border: none;
	outline: none;
	text-transform: uppercase;
	border-radius: 0.4rem;
	font-weight: 700;
	background-color: hsl(0, 100%, 68%) ;
	color: #fff;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.4s ease-in-out;}



.btn-demo:hover{
	background-color: hsla(0, 100%, 68%, 80%) ;

}
.hero-img{
	order: -1;
	margin-top: 2rem;
}
.img-devices{
	display: block;
	wi width: 520px;
	height: auto;
	margin-left: -0.1rem;

}


.demo-preview p{
	text-transform: uppercase;
	color: hsl(231, 7%, 65%);
	font-size: 0.77rem;
	letter-spacing: 2px;
}




@media(min-width: 460px){
	.img-devices{width: 550px;margin-left: -0.3rem;}
}
@media(min-width: 520px){
	body::after{height: 70vh;}
	.img-devices{width: 650px;margin-left: -0.3rem;}
	.hero-text{font-size: 2.5rem; padding-right: 5rem;}

}
@media(min-width: 580px){
	body::after{height: 72vh;}
	.img-devices{width: 700px;}
	.hero-text{padding-right: 10rem;}

}
@media(min-width: 620px){
	body::after{height: 78vh;}
	.img-devices{width: 800px;margin-left: -0.8rem;}
}
@media(min-width: 687px){
	body::after{height: 50vh;}
	.container{flex-direction: row;flex-wrap: wrap;}
	.logo-nav{flex-basis: 100%; order: 0;}
	.content, .hero-img{flex-basis: 50%; order: 0;}
	.content{margin-top: 5rem;}
	.new-dash{margin-top: 0;}
	.hero-text{padding-right: 0;}
	.demo-preview{margin-top: 3rem;}
	.hero-img{
		margin-top: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.img-devices{
		margin-bottom: 0;
		width: 100%;
		transform: translateX(70px) scale(1.37);
	}
}
@media(min-width: 860px){
	.logo-nav{
		padding-right: 5rem;
		padding-left: 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: static;
	}
	.logo img{
		width: 25px;
	}
	.nav-links{all: unset}
	.nav-links>*{margin-right: 2rem;}
	.nav-links a{
		text-decoration: none;
		text-transform: uppercase;
		color:  hsl(230, 29%, 20%);
		font-weight: 600;
		margin-bottom: 2rem;
		width: 100%;
		text-align: center;
		display: inline;
		letter-spacing: 1px;
	}
	#login::before{
		content: "";
		display: inline;
		border-top: none;
		margin-bottom: 0;
		margin-right: 2rem;
		font-size: 2rem;
		all: unset;
	}
	.dot{
		display: inline;
		font-size: 2rem;
		color: hsl(231, 7%, 65%);

	}
	.hamburger{display: none;}
	.content{padding-left:3rem ;margin-top: 6rem;}
	.hero-img{margin-top: 6rem;}
}
@media(min-width: 1200px){
	.nav-links>*{margin-right: 4rem;}
	.img-devices{transform: translateX(125px) scale(1.3)}
	.hero-text{font-size: 3rem; margin-bottom: 2rem;}
	.hero p{font-size: 1.5rem; padding-right: 13rem;}
	.demo-preview{margin-top: 4rem;}
	.btn-demo{font-size: 1rem;border-radius: 0.3rem;}
	.demo-preview p{font-size: 0.85rem; letter-spacing: 4px;}
}
@media(min-width: 1440px){
	body::after{height: 50vh;}
	.container{max-width: 1440px; margin: auto;}
	.hero-img{margin-top: 5rem;}
	.img-devices{transform: translateX(150px) scale(1.3)}
	.hero-text{font-size: 4.2rem; padding-right: 7rem;}
	.hero p{font-size: 1.25rem; padding-right: 20rem;}

}