:root {
  --clr-bg: hsl(185, 75%, 39%);
  --clr-card-bg: #fefefe;
  --clr-text-dark: hsl(229, 23%, 23%);
  --clr-text-light: hsl(227, 10%, 46%);
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  background: 
    url(../images/bg-pattern-bottom.svg) bottom -600px right -150px no-repeat,
    url(../images/bg-pattern-top.svg) top -500px left -200px no-repeat;
  background-color: var(--clr-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  background: var(--clr-card-bg);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.card-header img {
  width: 100%;
}

.card-content {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content img {
  border-radius: 50%;
  transform: translateY(-50%);
  border: 7px solid var(--clr-card-bg);
}

.card-content p:first-of-type {
  font-weight: bold;
  font-size: 24px;
  color: var(--clr-text-dark);
}

.card-content p:first-of-type span {
  font-weight: normal;
  color: var(--clr-text-light);
}

.card-content p:last-of-type {
  font-size: 18px;
  color: var(--clr-text-light);
}

.card-footer {
  flex: 0.2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid #d8d9df;
  color: var(--clr-text-dark);
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-item .status {
  font-size: 20px;
  font-weight: 700;
}

.footer-item .item-name {
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 10px;
  color: var(--clr-text-light);
}

.attribution {
  line-height: 3rem;
  font-size: 1rem;
  color: var(--clr-text-dark);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
