*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    position: relative;
    user-select: none;
}


.darkB {
    background-color: hsl(235, 21%, 11%);
    color: hsl(234, 39%, 85%);
}
.lightB {
    background-color: hsl(0, 0%, 98%);
    color: hsl(235, 21%, 11%);
}



img {
    width: 100vw;
}


.appeare {
    display: inline-block;
}
.disappeare {
    display: none;
}



.container {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%,0);
    width: 500px;
}
.upper {
    width: 100%;
    height: 140px;
    font-size: 50px;
}
.upper span {
    margin-right: calc(100% - 185px);
    color: white;
    letter-spacing: 11px;
}
input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 0 60px;
}
input:focus {
    outline: none;
}
form {
    position: relative;
}
form::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    border: 1px solid hsl(234, 11%, 52%);
    position: absolute;
    bottom: 14px;
    left: 20px;
}
.summary {
    height: 40px;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    padding: 10px 0 0 0;
}
.summary span {
    color: hsl(233, 14%, 35%);
    margin: 15px;
}


.summary .darkS:hover {
    color: hsl(236, 33%, 92%) !important;
}

.summary .lightS:hover {
    color: black !important;
}


.summary span:first-of-type{
    margin-right: 35px;
}
.summary span:last-of-type{
    margin-left: 35px;
}


.lightL {
    background-color: hsl(236, 33%, 92%) !important;
    color: black;
}
.darkL {
    background-color: hsl(235, 24%, 19%) !important;
    color: hsl(234, 39%, 85%);
}


.list {
    height: 50px;
    border-radius: 5px;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    font-size: 16px;
    padding: 15px 60px;
    background-color: hsl(236, 33%, 92%);
    position: relative;
}

.ball {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    border: 1px solid hsl(234, 11%, 52%);
    position: absolute;
    bottom: 14px;
    left: 20px;
}
.actived {
    background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    animation: rotation 2s infinite linear;
}
@keyframes rotation{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.list button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    outline: 1px solid burlywood;
    outline-offset: 1px;
    position: absolute;
    right: 10px;
    background-color: transparent;
}
.list button:hover {
    background-color: burlywood;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .upper {
        font-size: 30px;
    }

    .list {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .upper {
        font-size: 20px;
    }

    .list {
        font-size: 12px;
    }
}

