/* ===========================
   ROOT VARIABLES
=========================== */
:root {
  /* Backgrounds */
  --bg-dark: hsl(229, 57%, 11%);
  --bg-card: hsl(228, 56%, 26%);
  --bg-white: hsl(0, 0%, 100%);

  /* Text colors */
  --text-light: hsl(243, 100%, 93%);
  --text-muted: hsl(229, 7%, 55%);
  --text-dark: hsl(229, 57%, 11%);

  /* Gradients */
  --gradient-accent: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

  /* Slider variables */
  --color-text-dark: hsl(240, 38%, 20%);
  --color-text-light: hsl(240, 18%, 77%);
  --shadow-nav: rgba(0, 0, 0, 0.4);

  /* Font sizes */
  --fs-base: 32px;
  --fs-p: 1.4rem;
  --fs-name: 1.2rem;
  --fs-title: 1.3rem;

  /* Image sizes */
  --img-size: 500px;
  --img-size-mobile: 250px;

  /* Nav buttons */
  --nav-width: 100px;
  --nav-height: 50px;
  --nav-width-mobile: 70px;
  --nav-height-mobile: 40px;
}

/* ===========================
   BASE RESET
=========================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Raleway:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* ===========================
   BODY / PARENT
=========================== */
body {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-base);
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--bg-dark);
  background-image: url('./images/bg-desktop.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

/* ===========================
   SLIDER COMPONENT
=========================== */
.container {
  max-width: 80vw;
}

.tanya, .john {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container p {
  font-size: var(--fs-p);
  font-weight: 300;
  color: var(--color-text-dark);
  line-height: 2rem;
  margin-bottom: 2rem;
}

.container .name {
  font-size: var(--fs-name);
  font-weight: 500;
  color: var(--color-text-dark);
}

.container .title {
  font-size: var(--fs-title);
  font-weight: 300;
  color: var(--color-text-light);
}

.image__container {
  position: relative;
}

.image__container img {
  width: var(--img-size);
  height: var(--img-size);
  border-radius: 10px;
}

.image__container .nav_buttons {
  position: absolute;
  height: var(--nav-height);
  width: var(--nav-width);
  right: 350px;
  bottom: -15px;
  display: flex;
  background: var(--bg-white);
  border-radius: 30px;
  box-shadow: 1px 8px 10px var(--shadow-nav);
}

.nav_buttons .prev__button,
.nav_buttons .next__button {
  background-size: 30%;
  background-position: center;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 30px 0 0 30px;
  z-index: 4;
}

.nav_buttons .prev__button {
  background: url('./images/icon-prev.svg') no-repeat;
}

.nav_buttons .next__button {
  background: url('./images/icon-next.svg') no-repeat;
}

/* ===========================
   CARDS / SECTIONS
=========================== */
.parent, .sec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 14px;
}

.sec1 {
  width: 340px;
  height: 210px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-card);
  border-radius: 5px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 10px;
  margin-top: -45px;
}

.sec2 {
  background-color: var(--bg-card);
  width: 470px;
  padding: 30px;
  border-radius: 5px;
}

.sec1 .img1 {
  width: 150px;
  margin: 35px 30px 0 30px;
}

.icons img {
  width: 40px;
  height: 40px;
  margin: 35px 20px 0 0;
  background-color: var(--bg-dark);
  padding: 11px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.icons img:first-child {
  margin-left: 30px;
}

.sp1 {
  color: var(--text-muted);
}

.sp1 span {
  color: var(--text-light);
  font-weight: 700;
}

.sec2 .sp2 {
  background-color: var(--bg-white);
  color: var(--text-dark);
  padding: 15px 20px;
  margin-top: -80px;
  margin-left: 35px;
  position: absolute;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  text-align: center;
  font-size: 14px;
}

.sec2 .sp2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0px;
  border-width: 25px 0 0 20px;
  border-style: solid;
  border-color: var(--bg-white) transparent transparent transparent;
}

.sp2 span {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.loading hr:first-child {
  margin-top: 30px;
  width: 100%;
  height: 17px;
  border: none;
  border-radius: 15px;
  background-color: var(--bg-dark);
  position: relative;
}

.loading hr:nth-child(2) {
  width: 310px;
  height: 17px;
  background-image: var(--gradient-accent);
  border-radius: 15px;
  border: none;
  position: absolute;
  margin-top: -17px;
}

.loading hr:last-child {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--bg-white);
  border: none;
  position: absolute;
  margin-top: -16px;
  margin-left: 292px;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: var(--text-light);
}

/* ===========================
   RESPONSIVE
=========================== */
@media screen and (max-width: 768px) {
  .tanya, .john {
    flex-direction: column-reverse;
  }

  .image__container img {
    width: 250px;
    height: 250px;
  }

  .container p {
    margin-top: 4.5rem;
    font-size: 1.2rem;
  }

  .container .name {
    font-size: 1rem;
  }

  .container .title {
    font-size: 1.1rem;
  }

  .image__container .nav_buttons {
    height: 40px;
    width: 70px;
    top: 230px;
    right: 90px;
  }
}
