:root {
  /* 🎨 Colors */
  --primary100: hsl(0, 0%, 100%);
  --primary200: hsl(30, 54%, 90%);
  --primary300: hsl(30, 18%, 87%);
  --primary600: hsl(30, 10%, 34%);
  --primary900: hsl(24, 5%, 18%);

  --secondary: hsl(14, 45%, 36%);

  --accent800: hsl(332, 51%, 32%);
  --accent200: hsl(330, 100%, 98%);

  /*  Typography */
  --font-body: "Outfit", Arial, sans-serif;
  --font-heading: "Young Serif", serif;

  --fs-body: 1rem;
  --fs-heading: 2.2rem;
  --fs-subheading: 1.5rem;

  /* Font weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  /* Radius */
  --br-small: 0.6rem;
  --br-large: 1.2rem;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1, h2, h3, h4,
p, figure, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: var(--font-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-400);
  line-height: 1.5;
  color: var(--primary600);
  background-color: var(--primary200);
}



img,
picture {
  display: block;
  max-width: 100%;
}

a:not([class]) {
  color: inherit;
  text-decoration-skip-ink: auto;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}



.wrapper {
  box-sizing: content-box;
  max-inline-size: 46rem;
  margin-inline: auto;
  padding-inline: 1rem 1.5rem;
}

.flow > * + * {
  margin-block-start: var(--space, 1.5em);
}

.font-bold {
  font-weight: var(--fw-700);
}


h1, h2 {
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-heading);
  color: var(--primary900);
}

h2 {
  font-size: var(--fs-subheading);
  color: var(--secondary);
}



ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  list-style-type: square;
}

ul, ol {
  margin-inline-start: -1.5rem;
}

li {
  padding-inline-start: 1rem;
  padding-block: 0.2rem;
}

li::marker {
  font-weight: 700;
  color: var(--secondary);
}

ul li::marker {
  font-size: 0.7rem;
}

ol li::marker {
  font-size: 0.875rem;
  font-variant-numeric: normal;
}



table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 0.75rem 0 0.75rem 1rem;
}

td {
  font-weight: var(--fw-600);
  color: var(--secondary);
}

tr:not(:last-child),
section:not(:last-child),
.time-section {
  border-bottom: 1px solid var(--primary300);
}



.recipe-card {
  background: var(--primary100);
  padding: 2.2rem;
  border-radius: var(--br-large);
  margin-block: 5rem;
}

.recipe-card img {
  border-radius: var(--br-small);
}

.time-section {
  padding: 1rem;
  background: var(--accent200);
  border-radius: var(--br-small);
}

.time-section h2 {
  font-family: var(--font-body);
  font-size: 1.2rem;
  font-weight: var(--fw-600);
  color: var(--accent800);
}
